/*
    styles.css

    Style definition for B.T.E. (01/2022)
*/

/*
 Fontloading 
*/

/*@font-face {
    font-family: Overpass;
    src: url(assets/fonts/Overpass/Overpass-VariableFont_wght.ttf);
}*/
@font-face {
    font-family: OverpassExtraLight;
    src: url(assets/fonts/Overpass/static/Overpass-ExtraLight.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap');

/*
 BTE custom variables
*/
:root {
    /* colors */
    --bte-red: rgba(255, 53, 150, 0.9);
    --bte-green: #95CE63;
    --bte-headline-green: #89C35B;
    --bte-black: rgba(255, 53, 150, 0);
    --bte-transparent: rgba(118, 250, 85, 0);

    /* dimensions */
    --bte-main-container-width: 1140px;
    --bte-header-height: 410px;
    --bte-stage-height: 887px;
    --bte-footer-height: 337px;

    /* images */

    /* fonts*/
}

/* Resets */
body {
    margin: 0;
    padding: 0;
    font-family: OverpassExtraLight;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.header-left {
    background: url("assets/svg/bte_header_bte_logo_left.svg") no-repeat 30px 0;
    height: var(--bte-header-height);
    width: 432px;
    margin-left: 8%;
    width: 39%;
}

#header {
    height: var(--bte-header-height);
    /*  background: #000 url("assets/svg/bte_header_bte_logo_left.svg") no-repeat;*/
    /* background: radial-gradient(circle, #3E1026 0%, rgba(0,0,0,0.5) 100%) ;*/
    display: flex;
}

/* Typographics */

h1 {
    color: var(--bte-headline-green);
    font-size: 48px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 74px;
}

h3 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 37px;
    color: #43142B;
    margin-bottom: 0px;
}

p {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
}

.sub-headline {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 200;
    font-family: OverpassExtraLight;
    width: 75%;
}

.claim h1,
.sub-headline {
    /*margin-left: 20px;*/
}

#main-wrapper {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(52, 14, 32, 0.3) 100%) no-repeat;
}

#header-wrapper,
#footer-wrapper {
    background: radial-gradient(circle at top right, #46142C 0%, #000000 100%);
}

#main,
#footer,
#header {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}

#main {
    /* height: var(--bte-stage-height);*/
    /*background: radial-gradient(circle, #3E1026 0%, rgba(0,0,0,0.5) 100%);*/
    margin-top: 5%;
    /*margin-bottom: 5%;*/
}

#footer {
    height: var(--bte-footer-height);
    display: flex;
    /*background: #000 url("assets/svg/bte_bg-pic_footer_left.svg") no-repeat;*/
}

.footer-left,
.footer-right {
    width: 20%;
}

.footer-left {
    background: -10px url("assets/svg/bte_bg-pic_footer_left.svg") no-repeat;
    min-width: 582px;
    height: var(--bte-footer-height);
    margin-left: 10%;
}

.footer-middle {
    flex: auto;
}

.box-wrapper {
    flex: 0 0 300px;
    margin-left: 10%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.round-box {
    /*flex-wrap: wrap;*/
    width: 240px;
    height: 240px;
    /*background:#3E1026;*/
    /*flex-grow: 1;*/
    display: flex;
    border-radius: 15px;
    background-color: #000000;
    background: radial-gradient(circle at top right, #44142B 0%, #010000 100%);
    box-shadow: -2px 8px 12px 0 rgba(0, 0, 0, 0.35);
}

.imprint {
    height: 198px;
    width: 414px;
    color: #FFCFE6;
}

.hightlight {
    color: var(--bte-headline-green);
}

.claim {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-flow: column wrap;
    align-content: flex-start;
    background: top right url("assets/svg/bte_bg_header_right.svg") no-repeat;
}

.claim h1 {
    margin-top: 95px;
}

.build-on-kilt-logo {
    position: absolute;
    right: 30px;
    top: 30px;
}

.header-right {
    /* width: 10%;*/
    /* background: url("assets/svg/bte_bg_header_right.svg");*/
}

.header-right img {
    margin-top: 50%;
}

.inner-svg {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.img-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    margin-bottom: 5%;
}

.img-container h3 {
    margin-top: 0;
}

.text-area {
    width: 66%;
    margin-left: 10%;
}

.box-wrapper p {
    height: 200px;
}

/*
    Tweaks
*/
.stakeboard img {
    width: 70%;
}

/* 
    Responsive layout - makes a one column layout instead of a two-column layout 
*/
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }

    #main {
        width: 100%;
    }

    .round-box {
        margin-left: auto;
        margin-right: auto;
    }

    .img-container {
        display: block;
    }

    #footer {
        width: 100%;
    }

    .box-wrapper p {
        width: 500px;
        height: auto;
    }
}

/*
    animation
*/
.round-box,
.inner-svg {
    transition: .5s;
}

.round-box:before {
    border-radius: 50%;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.round-box:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #f3496f;
    filter: blur(3px);
}

.round-box:hover {
    /*box-shadow: -2px 8px 12px #f3496f; */
    box-shadow: 15px -8px 12px #f3496f;
}

/*.round-box:hover .inner-svg {
    filter: invert(44%) sepia(54%) saturate(6800%) hue-rotate(312deg) brightness(103%) contrast(101%);
  }*/